[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
	branch = master
[submodule "external/cjson"]
	path = external/cjson
	url = https://github.com/DaveGamble/cJSON.git
